.eventCard {
    cursor: pointer;
    margin: 2rem;
    position: relative;
    color: var(--primary);
    border-radius: 12px;
    background-color: var(--boxPrimary);
    overflow: hidden;
    box-shadow: -0.3rem .3rem var(--primary);
    &_title {
        text-decoration: underline 2px var(--boxSecondary);
        text-underline-offset: .3rem;
    }

    &_desc {
        padding: .4rem;
        border-radius: 12px;
        border: solid 3px var(--boxSecondary);
    }

    &_visibility {
        position: absolute;
        top: 0;
        right: 0;
    }
    &_footer {
        background-color: var(--boxSecondary);
    }

    &_image {
        img {
            display: inline-block;
            max-height: 150px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &_image--diagonal {
        max-height: 150px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
        }
    }

    &_image--diagonal:not(:first-child):not(:last-child) {
        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    }

    &_image--diagonal:first-child {
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    }

    &_image--diagonal:last-child {
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    }
}

.eventCard:hover {
    transform: translate(-.3rem, .3rem);
    box-shadow: 0 0;
}
