.eventCard {
    cursor: pointer;
    margin: 2rem;
    position: relative;
    color: var(--primary);
    border-radius: 12px;
    background-color: var(--boxPrimary);
    overflow: hidden;
    box-shadow: -0.3rem .3rem var(--primary);

    &_title {
        text-transform: capitalize;
    }

    &_desc {
        text-align: justify;
    }

    &_visibility--public {
        background-color: #80d7e9;
        padding: 3px;
        border-radius: 12px;
        color: #000000;
    }
    &_visibility--private {
        background-color: #80e9d1;
        padding: 3px;
        border-radius: 12px;
        color: #000000;
    }

    &_creator {
        font-weight: bold;
    }

    &_image {
        box-sizing: border-box;
        overflow: hidden;
        img {
            height: 150px;
            object-fit: cover;
            object-position: center;
            width: 100%;
            display: inline-block;
        }
    }
    
    &_image--single {
        border-radius: 12px;
    }

    &_image--diagonal:not(:first-child):not(:last-child) {
        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    }

    &_image--diagonal:first-child {
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
        border-radius: 12px 0 0 12px;
    }
    
    &_image--diagonal:last-child {
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
        border-radius: 0 12px 12px 0;
    }
}

.eventCard:hover {
    transform: translate(-.3rem, .3rem);
    box-shadow: 0 0;
}