.register {
    position: relative;
    h1 {
        text-align: center;
    }
    &_button {
        border: 3px solid #001d41;
        box-shadow: 0 3px #002f68;
        color: #b0becd;
    }
    &_button:active {
        box-shadow: 0 0;
        translate: 0 3px;
    }
}

.register::before {
    content: '';
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    background-image: url("/images/fractal_bg_blue.jpg");
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
}

.registerForm{

  background: #2a3f5f; /* bleu-gris clair, ressort sur #171717 */
  border: 2px solid #001d41;
  box-shadow: 0 0 18px rgba(59, 147, 255, 0.3), inset 0 0 10px rgba(59, 147, 255, 0.2);
  padding: 2rem;
  color: #fff;
    clip-path: polygon(
    0 0, calc(100% - 20px) 0, 100% 20px,
    100% 100%, 20px 100%, 0 calc(100% - 20px)
  );

    label {
        display: flex;
        align-items: center;
        color: #b0becd;
    }
    p {
        text-align: right;
        text-decoration: underline rgb(192, 6, 6);
        text-underline-offset: 4px;
        color: var(--secondary);
    }
    &_input{
        border: 2px solid #001d41;
        background: transparent;
        color: #b0becd;
        padding: 0.5rem;
        clip-path: polygon(
          0 0, calc(100% - 10px) 0, 100% 10px,
          100% 100%, 10px 100%, 0 calc(100% - 10px)
        );
    }
    &_input:focus {
        outline: none;
        box-shadow: 0 0 10px #3b93ff, 0 0 20px #3b93ff inset;
    }

    .warning {
        border-color:  #c00606;
        box-shadow: 0 0 10px #dc4343, 0 0 20px #dc4343 inset;
    }
    p {
        color: #b0becd;
    }
}
