.footerComp {
    background-color: #111;
    &_logo {
        font-weight: bold;
        color: var(--primary);
    }
    &_creator {
        color :rgb(179, 179, 179);
    }
    &_location {
        color :rgb(179, 179, 179);
    }
}